parameters:
    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Templates

    bootstrap: bootstrap.php

parametersSchema:
    contao: structure([
        services_yml_path: schema(string(), nullable())
    ])

services:
    -
        class: Contao\PhpStan\Type\ContainerInterfaceDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    -
        class: Contao\PhpStan\Type\ContainerAwareInterfaceDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    -
        class: Contao\PhpStan\Type\ContaoFrameworkDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    -
        class: Contao\PhpStan\Type\ContaoTestCaseDynamicMethodReturnTypeExtension
        tags: [phpstan.broker.dynamicMethodReturnTypeExtension]

    -
        class: Contao\PhpStan\Reflection\BackendTemplateClassReflectionExtension
        tags: [phpstan.broker.propertiesClassReflectionExtension]

    - Contao\PhpStan\ServiceHelper(%contao.services_yml_path%)
